@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to <b>PSlots garage</b>!</h1>
    <p class="lead">
    Currently .... free slots</p>
    <p><a href="" class="btn btn-primary btn-lg">Park now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The PSlots Garage</h2>
        <p>
            PSlots is a garage for vehicles. Hopefully your vehicles.
        </p>
        <p><a class="btn btn-success" href="">Learn more &raquo;</a></p>

  



    </div>
    <div class="col-md-4">
        <h2>PSlots data</h2>
        <p>See the current overview / statistics for PSlots Garage</p>
        <p><a class="btn btn-success" href="">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign up here</h2>
        <p>You can easily sign up to becoma a member and start parking in PSlots Garage.</p>
        <p><a class="btn btn-success" href="">Sign up &raquo;</a></p>
    </div>
</div>